.env
env_portoflio/*
env_portoflio/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
ubuntu@ec2-34-201-135-1.compute-1.amazonaws.com/*
ubuntu@ec2-34-201-135-1.compute-1.amazonaws.com
