{% extends "core/base.html" %}
{% load static %}

{% block title %} {{ project.title }} {% endblock title %}

{% block content %}

<!-- PROJECT BREIF SECTION (text) -->

<div class="container-fluid mt-5 mb-5 pt-5 pb-5">
<div class="proj-brief">

    <!-- <h3>Online Forum Project</h3> -->
    <h2>{{ project.title }}</h2>

    <h5>A safe place to communicate with peers</h5>

    <p>The brief for this project was to create a forum like website specifically for womxn with an aim to provide a safe space for all those who identify as female to discuss sex, love and life.</p>

</div>
</div>

<!-- ASSET/BANNER SECTION (image)(Optional) -->

<div class="container-fluid ps-0 pe-0 pt-5 pb-5 mt-5 mb-5">
    <div class="img-container justify-content-center">
        <div class="banner-img">
            <!-- <img src="{% static 'img/samplebanner1.png' %}" alt="img placeholder for banner image"> -->
        </div>
    </div>
</div>

<!-- PROJECT APPRAOCH SECTION (text) -->

<dic class="container-fliud mt-5 pt-5 mb-5 pb-5">
    <div class="proj-approach">

        <h3></h3>

        <p class="text-light">
            When I started working on this site, there had already been a base design and aesthetic chosen. The team wanted bright, bold and evocative colors in order to suggest a sense of power, sensuality and vibrance. 
        </p>

    </div>
</dic>

<!-- FULL PAGE HOME PAGE IMAGE SECTION (image)-->

<div class="container-fluid pt-5 pb-5 mt-5 mb-5">
    <div class="img-container justify-content-center">
        <div class="screenshot-img">
            <!-- <img src="{% static 'img/ForumHomeFull.png' %}" alt="fullpage screen shot of home page"> -->
        </div>
    </div>
</div>

<!-- DES/DEV PROECESS SECTION (text) -->

<div class="container-fluid pt-5 pb-5 mt-5 mb-5">
    <div class="process">

        <h3></h3>

        <p class="text-light">
            The idea of the site is pretty straight forward - an online forum for users to communicate about a multitude of topics via posts, likes, comments and replies. I developed the site with Django and utilized vanilla JavaScript and the Bootstrap library to ensure responsiveness.
        </p>

        <p class="text-light">
            The home page for the forum displays all topics sorted by date of creation by default, with the option to change sorting order. I included a sample banner on the main forum page to showcase how any ads, information or even static styles can be added, placed, and moved around to suit a multitude of uses. The team also wanted users to be able to create and filter posts for a variety of topics, so I implemented a sidebar to display available topics, as well as a form for admin to create new topics as needed.
        </p>

        <p class="text-light">
            The posts are displayed in list form with titles, username(if any), date created and a short snippet of the post's content. The list display then provides a link to 'Read More' that directs user to the specified post's detail page. On the detail page, users can like the post, comment on the post and reply to previous comments. In addition to being able to read any post, authenticated users have the ability to update, edit, and deletee posts that they created. These features can be accessed via links on the post list or post detail pages.
        </p>

        <p class="text-light">
            In order to maintain a clean and seemless user experience, I opted to include the post creation form, along with the comment and reply forms direclty on the web page. When the page is initially loaded, the forms are hidden using JavaScript and only displayed when a user clicks the corresponding button. 
        </p>

    </div>
</div>

<!-- OTHER FULL/PARTIAL PAGE IMAGE(S) SECTION(S) -->

<div class="container-fluid pt-5 pb-5 mt-5 mb-5">
    <div class="img-container justify-content-center">

        <div class="screenshot-img">
            <!-- <img src="{% static 'img/PortfolioDesignListFull1.png' %}" alt="Full page screenshot of list of web design projects"> -->
        </div>

    </div>
</div>

<!-- DEVICE MOCKUP(S) -->

<div class="container-fluid pt-5 pb-5 mt-5 mb-5">
    <div class="img-container justify-content-end">

        <div class="mockup-img screenshot-img">
            <!-- <img src="{% static 'img/iMacMockupCrop.png' %}" alt="Image of iMac with sample webpage displayed"> -->
        </div>

    </div>
</div>

<!-- MORE DES/DEV PROECESS SECTION -->
<div class="container-fluid mt-5 mb-5 pt-5 pb-5">
    <div class="process">

        <h3></h3>

        <p class="text-light">
            One of the top priorities for this project was to allow users to users to post anonymously. The idea behind the site is to create a welcoming and comfortable environment where womxn can discuss openly a range of, often times sensitive, topics Anonymous posting is aimed at helping womxn open up to themselves and others while allowing for an option of discretion and privacy.
        </p>

        <p class="text-light">
            When a user selects to make a post anonymous all of the user's information is hidden from view on the site. In order to maintain the interactive aspect of a forum, a primary key associated with each user is used to track all posts, including those made anonymously. This means that users can edit, delete and track activity on their all of their own posts.
        </p>

    </div>
</div>

<!-- MORE SCREENSHOTS - FULL PAGE, DEVICE WIDTH, ETC -->

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4">
            <div class="col-img">
                <!-- <img src="{% static 'img/forumiphone12homepage.png' %}" alt="iPhone 12 screen showing home page of site."> -->
            </div>
        </div>

        <div class="col-lg-4">
            <div class="col-img">
                <!-- <img src="{% static 'img/forumiphone12forum.png' %}" alt=""> -->
            </div>
        </div>

        <div class="col-lg-4">
            <div class="col-img">
                <!-- <img src="{% static 'img/forumiphone12topic.png' %}" alt=""> -->
            </div>
        </div>

    </div>
</div>

<!-- CLOSING THOUGHTS, REACTIONS, RECEPTON, ETC -->




{% endblock content %}
