<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% if design %}

        {% for design in designs %}

           <p> {{ design.project.title }} | </p>

            {{ design.title }} | {{ design.created_on }} | {{ design.description }} |  {% for s in design.software.all %}{{ s.name }} {% endfor %}

        {% endfor %}

    {% else %}

        <p>
            <a href="{% url 'add_design' %}">Add Design</a>
        </p>

    {% endif %}

    <p>
        <a href="{% url 'add_design' %}">Add Design</a>
    </p>

</body>

</html>