{% extends "core/base.html" %}

{% block title %} Design Projects {% endblock title %}

{% block content %}

    {% if designs %}

        {% for design in designs %}

           <p> {{ design.project.title }} | </p>

            <p>{{ design.title }}  {{ design.pk }} | {{ design.created_on }} | {{ design.description }} |  {% for s in design.software.all %}{{ s.name }} {% endfor %}</p>
            
            {% if design.image %}
                <p><img src="{{ design.image.url }}" alt=""></p>
            {% endif %}


        {% endfor %}

    {% else %}

        Nada
        
    {% endif %}

    <p>
        <a href="{% url 'add_design' project.pk %}">Add Design</a>
    </p>

{% endblock content %}