<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% for dev in developments %}
        <p><a href="{% url 'dev_project_detail' dev.pk %}" class="btn btn-lg btn-primary">{{ dev.project.title }} | {{ dev.project.pk }} | {{ dev.title }} | {{ dev.pk }}
        </a></p>
    {% endfor %}
    
</body>

</html>