{% extends "core/base.html" %}

{% block title %} Development Projects {% endblock title %}

{% block content %}

    {% if developments %}

        {% for development in developments %}
            <p>{{ development.project.title }} -- {{ development.pk }} -- {{ development.project.pk }} -- </p>
            <p>{{ development.title }} | {{ development.created_on }} | {{ development.description }} | </p>
            <p>{% for p in development.programs.all %} {{ p.name }} {% endfor %}</p>
            <hr>
        {% endfor  %}

    {% else %}

        <p>Nada</p>

    {% endif %}

    <button id="addDev" class="btn btn-primary">Add Development</button>
    <div id="devForm">
        {% include 'portfolio/partials/add_development.html' %}
    </div>


{% endblock content %}