{% extends "core/base.html" %}

{% block title %} Devlopment Projects {% endblock title %}

{% block content %}

    {% for proj in dev_proj_list %}
        <p><a href="{% url 'dev_project_detail' proj.pk %}" class="btn btn-primary">{{ proj.title }}
        | {{ proj.pk }} | {{ proj.project_type }}</a></p>
    {% endfor %}

    <button id="addProject" class="btn btn-primary">Add Project</button>
    <div id="projectForm">
        {% include 'portfolio/partials/add_project.html' %}
    </div>  

    <!-- <p>
        <a href="{% url 'add_project' %}">Add Project</a>
    </p> -->

    <script>

         $(document).ready(function() {

            $('#projecttype').hide();
            $('#projecttype').siblings().hide();

        });

    </script>
    
{% endblock content %}