{% extends "core/base.html" %}

{% block title %} Development Projects {% endblock title %}

{% block content %}

    {% if developments %}

        {% for development in developments %}
            <p>{{ development.project.title }} -- {{ development.pk }} -- {{ development.project.pk }} -- </p>
            <p>{{ development.title }} | {{ development.created_on }} | {{ development.description }} | </p>
            <!-- <p>{% for p in development.programs.all %} {{ p.name }} {% endfor %}</p> -->
            <hr>
        {% endfor  %}

    {% else %}
        Nada
    {% endif %}

        <p>
            <a href="{% url 'add_dev' project.pk %}">Add Development</a>
        </p>


{% endblock content %}