<div id="experience" class="container-fluid resume-container round">

    <div class="row ps-2 pe-2 mb-5">
        <h2 class="list-title">Resume</h2>
    </div>

<!-- TECHNICAL SKILLS -->
    <div class="mb-5">

        <div class="row justify-content-center align-items-center">
            <div class="col">

            <h4 class="text-center resume-header">
                Technical Skills
                <!-- <i id="updateTechSkills" class="fa-solid fa-circle-plus ps-5 resume-add" data-bs-toggle="modal" data-bs-target="#updateTechSkillsModal"></i>
                <i class="fa-solid fa-arrows-rotate ms-3"></i> -->
            </h4>
            <!-- {{ supp_edu_form.as_p }} -->
            </div>

            {% if request.user.is_superuser %}
            <div class="col">
            <i id="addTechSkills" class="fa-solid fa-circle-plus ps-5 resume-add" data-bs-toggle="modal" data-bs-target="#addTechSkillsModal"></i>
            </div>

            {% include 'resume/modals/add_tech_skills.html' %}

            {% endif %}

        </div>
        <hr class="resume-hr">

        <div id="techSkillsDiv">
        {% for tech in tech_skill_list %}
        <div class="row row-cols-1 row-cols-sm-2">

            <div class="col">
                {% if request.user.is_superuser %}

                <i id="updateTechSkills" class="updateButton fa-solid fa-arrows-rotate ms-3 me-3 resume-add" data-id="{{ tech.pk }}" data-model="TechSkills" data-bs-toggle="modal" data-bs-target="#updateTechSkillsModal"></i>
                {% include 'resume/modals/update_tech_skill.html' %}
                {% endif %}
                <span id="techSkillType" data-id="{{ tech.pk }}">{{ tech.type }}</span>
            </div>

            <div id="techProgramsList" class="col">
                {% for program in tech.programs.all %}
                    <p id="techSkillProg" data-tech-id="{{ tech.pk }}" data-prog-id="{{ program.pk }}">{{ program.name }}</p>
                {% endfor %}
            </div>

        </div>
        {% endfor %}
        </div>  
        
    </div>

<!-- WORK EXPERIENCE -->
    <div class="mb-5">

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
            <h4 class="text-center resume-header">Work Experience</h4>
            </div>

            {% if request.user.is_superuser %}

                <div class="col">
                <i id="addEmployment" class="fa-solid fa-circle-plus ps-5 resume-add" data-bs-toggle="modal" data-bs-target="#addEmploymentModal"></i>
                </div>

                {% include 'resume/modals/add_work_experience.html' %}

            {% endif %}
        </div>

        <hr class="resume-hr">

        <div id="employmentDiv">

        {% for job in employment_list %}

            <div class="row row-cols-1 row-cols-sm-2">

                    <div class="col">
                        {% if request.user.is_superuser %}
                        <i id="updateEmployment" class="updateButton fa-solid fa-arrows-rotate ms-3 me-3 resume-add" data-id="{{ job.pk }}" data-model="Employment" data-bs-toggle="modal" data-bs-target="#updateEmploymentModal"></i>
                        {% include 'resume/modals/update_work_experience.html' %}
                        {% endif %}
                        <span id="employmentName" data-id="{{ job.pk }}">
                            {{ job.name }}
                        </span>
                    </div>

                    <div class="col">
                        <p id="employmentTitle" data-id="{{ job.pk }}">
                            {{ job.job_title }}
                        </p>
                    </div>

            </div>

        {% endfor %}
        </div>


    </div>

<!-- PROGAMMING PROJECTS -->
    <div class="mb-5">

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
            <h4 class="text-center resume-header">Other Projects</h4>
            </div>

            {% if request.user.is_superuser %}

                <div class="col">
                <i id="addProgrammingProject" class="fa-solid fa-circle-plus ps-5 resume-add" data-bs-toggle="modal" data-bs-target="#addProgrammingProjectModal"></i>
                </div>

                {% include 'resume/modals/add_other_projects.html' %}

            {% endif %}
        </div>
        <hr class="resume-hr">

        <div id="progProjDiv">
        {% for proj in prog_proj_list %}

            <div class="row row-cols-1 row-cols-sm-2">

                <div class="col">
                    {% if request.user.is_superuser %}
                    <i id="updateProj" class="updateProj updateButton fa-solid fa-arrows-rotate ms-3 me-3 resume-add" data-id="{{ proj.pk }}" data-model="ProgrammingProject" data-bs-toggle="modal" data-bs-target="#updateProgrammingProjectModal"></i>
                    {% include 'resume/modals/update_other_projects.html' %}
                    {% endif %}
                    <span id="projName" data-id="{{ proj.pk }}">
                        {{ proj.name }}
                    </span>
                </div>

                <div class="col">
                    <p id="projDescription" dat-id="{{ proj.pk }}">
                        {{ proj.description }}
                    </p>
                </div>
                
            </div>

        {% endfor %}
        </div>

    </div>

<!-- SUPPLIMENTAL EDUCATION -->
    <div class="mb-5">

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
            <h4 class="text-center resume-header">Supplemental Education</h4>
            </div>
            <!-- {{ supp_edu_form.as_p }} -->

            {% if request.user.is_superuser %}

            <div class="col">
            <i class="fa-solid fa-circle-plus ps-5 resume-add" data-bs-toggle="modal" data-bs-target="#addSupplementalEducationModal"></i>
            </div>

            {% include 'resume/modals/add_supp_edu.html' %}

            {% endif %}

        </div>
        <hr class="resume-hr">

        <div id="suppEduDiv">
        {% for edu in edu_list %}

            <div class="row row-cols-1 row-cols-sm-2">

                <div class="col">
                    {% if request.user.is_superuser %}
                    <i id="updateEdu" data-id="{{ edu.pk }}" data-model="SupplementalEducation" class="updateEdu updateButton fa-solid fa-arrows-rotate ms-3 me-3 resume-add" data-bs-toggle="modal" data-bs-target="#updateSupplementalEducationModal"></i>
                    {% include 'resume/modals/update_supp_edu.html' %}
                    {% endif%}
                    <span id="eduName" data-id="{{ edu.pk }}">{{ edu.name }}</span>
                </div>

                <div class="col">
                    <p id="eduType" data-id="{{ edu.pk }}">
                        {{ edu.type }}
                    </p>

                </div>

            </div>
        {% endfor %}
        </div>


    </div>

<!-- EDUCATION -->
    <div class="mb-5">

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
                <h4 class="text-center resume-header">Education</h4>
            </div>
            <div class="col">
                <i class="fa-solid fa-circle-plus ps-5"></i>
            </div>

        </div>
        <hr class="resume-hr">

        <div class="row row-cols-1 row-cols-md-2">

            <div class="col">
                <p>BA International Security & Conflict Resolutin</p>
            </div>

            <div class="col">
                <p>San Diego State University</p>
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function(){

        Resume.populateFormEvent();

    })

</script>