{% extends "core/base.html" %}
{% load static %}

{% block content %}

  <main class="hero text-center">
    
    {% if about.image %}
    <div class="home-title-image">
    {% else %}
    <div class="home-title">
    {% endif %}
      <h1>Jacob Van Cleave Design</h1>
      <p class="lead">Full Stack Web Developer</p>
    </div>


    <!-- ABOUT SECTION -->
    {% comment %}
    {% if about.image %}
      {% include 'portfolio/partials/about_partial_image.html' %}
    {% else %}
      {% include 'portfolio/partials/about_partial.html' %}
    {% endif %}
    {% endcomment %}

    <!-- DEV PROJECT LIST -->

      {% include 'portfolio/partials/project_list_partial.html' %}

    <!-- DES PROJECT LIST -->

      <!-- <script src="{% static 'portfolio/project.js' %}"></script> -->
      {% include 'resume/partials/resume_partial.html' %}

  </main>



{% endblock %}