{% extends "core/base.html" %}

{% block content %}
{% load static %}

  <main class="hero text-center">
    
    <div class="home-title">
      <h1>Jacob Van Cleave Design</h1>
      <p class="lead">Full Stack Web Developer</p>
    </div>

    <div class="container-fluid home-text">
      <p>
        I am a junior programmer and have spent the last 3.5 years teaching myself the ins and outs, the ups and downs, the nooks and the crannies of web development. While I took a web development course in high school, it wasn't until the wold shutdown in 2020 that I really devoted all of my time and energy to pursuing it as a career. Over the last few years I have reacquainted myself with HTML and taught myself CSS and JavaScript. I have gained a significant understanding of Git and GitHub for version control as well as the omnipotence of Google and StackOverflow.
      </p>

      <p>
        In addition to the basics, I have also taught myself React JS, Ruby on Rails, Django, and Python by way of Django. More recently I have been apprenticing with a medical based AI startup that has incredibly expanded my knowledge of Django, Python, JavaScript, and various JavaScript libraries.
      </p>
    </div>

  </main>

{% endblock %}